<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px;">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="First name" />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="CPF">CPF</label>
            <input type="text" class="form-control" id="CPF" placeholder="CPF" />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="data">Data Nascimento</label>
            <input type="date" class="form-control" id="data" placeholder="Data Nascimento" />
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 mb-3">
            <label for="matricula">Matrícula</label>
            <input type="text" class="form-control" id="matricula" placeholder="Matrícula">
        </div>
        <select class="custom-select custom-select-sm" multiple>
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</form>