<form class="needs-validation" novalidate [formGroup]="form" style="padding-top: 10px;">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome"
                [ngClass]="{ 'is-invalid': submitted && hasError('nome')}" />
            <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['required']">
                Por favor informe um nome.
            </div>
            <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['minlength']">
                Nome precisa ter no mínimo {{ hasError('nome')['minlength'].requiredLength }} caracteres.
            </div>
            <div class="invalid-feedback" *ngIf="hasError('nome') && hasError('nome')['maxlength']">
                Nome precisa ter no máximo {{ hasError('nome')['maxlength'].requiredLength }} caracteres.
            </div>
        </div>

        <div class="col-md-2 mb-3">
            <label for="matricula">Matrícula</label>
            <input type="text" class="form-control" id="matricula" placeholder="Matrícula"
                formControlName="matricula" [ngClass]="{ 'is-invalid': submitted && hasError('matricula')}" />
            <div class="invalid-feedback" *ngIf="hasError('matricula') && hasError('matricula')['required']">
                Por favor informe uma matricula.
            </div>
            <div class="invalid-feedback" *ngIf="hasError('matricula') && hasError('matricula')['minlength']">
                Matricula precisa ter no mínimo {{ hasError('matricula')['minlength'].requiredLength }} caracteres.
            </div>
            <div class="invalid-feedback" *ngIf="hasError('matricula') && hasError('matricula')['maxlength']">
                Matricula precisa ter no máximo {{ hasError('matricula')['maxlength'].requiredLength }} caracteres.
            </div>
        </div>
        <div class="col-md-2 mb-3">
            <label for="area">Área de Atuação</label>
            <input type="text" class="form-control" id="area" placeholder="Área" formControlName="area" 
            [ngClass]="{ 'is-invalid': submitted && hasError('area')}" />
            <div class="invalid-feedback" *ngIf="hasError('area') && hasError('area')['maxlength']">
                Área de atuação precisa ter no máximo {{ hasError('area')['maxlength'].requiredLength }} caracteres.
            </div>
            
        </div>
        <div class="col-md-2 mb-3">
            <label for="dataNascimento">Data Nascimento</label>
            <input type="date" class="form-control" id="dataNascimento" placeholder="Data Nascimento" formControlName="dataNascimento" 
            [ngClass]="{ 'is-invalid': submitted && hasError('dataNascimento')}"/>
            <div class="invalid-feedback" *ngIf="hasError('dataNascimento') && hasError('dataNascimento')['required']">
                Por favor informe uma data.
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary" (click)="onSubmit()">
            Salvar
        </button>
        <button type="button" class="btn btn-default" (click)="onCancel()">
            Cancelar
        </button>
    </div>
</form>