<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Https</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/alunos']" routerLinkActive="active">Alunos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/disciplinas']" routerLinkActive="active">Disciplinas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/professores']" routerLinkActive="active">Professores</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
