<form class="needs-validation" novalidate style="padding-top: 10px;">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome" />
        </div>


        <div class="col-md-1 mb-1">
            <label for="ativa">Ativa</label>
            <input type="text" class="form-control" id="ativa" placeholder="Ativa" />
        </div>

        <div class="col-md-3 mb-1">
            <label for="exampleFormControlSelect1">Professor</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>TEXTO GRANDEEEEEE</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="col-md-2 mb-3">
            <label for="carga">Carga Horária (Hrs)</label>
            <input type="number" class="form-control" id="carga" placeholder="Carga Horária" />

        </div>


    </div>
    <div class="form-row">

        <div class="col-md-7 mb-3">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" placeholder="Descrição" />
        </div>

        

        

    </div>
    <div>
        <button type="submit" class="btn btn-secondary">
            Salvar
        </button>
        <button type="button" class="btn btn-default">
            Cancelar
        </button>
    </div>
</form>