<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-4">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="ID"
        />
      </div>
      <div class="col-auto">
      </div>
    </div>
  </div>
  <div class="search-list">
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Matricula</th>
          <th>Disciplina</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="results$ | async as result;">
          <td>{{ result.id }}</td>
          <td>{{ result.nome }}</td>
          <td>{{ result.matricula }}</td>
          <td ><p *ngFor="let disciplina of result.disciplinas" > {{ disciplina.nome }}</p></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
